<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components in VueJs</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="vue-app">
        <h1>Data Binding</h1>
        <h1>{{ Name }}</h1>
        <h2>{{ Age }}</h2>
        <p>Job: {{ Job }}</p>
        <a v-bind:href="website">Lakshay Resume</a>
        <input type="text" v-bind:value="Job">
        <p v-html="websiteTag"></p>
        <button v-on:click="add(1)">Add a year</button>
        <button v-on:click="sub(1)">Sub a year</button>
        <button v-on:dblclick="add(10)">Add 10 year</button>
        <button v-on:dblclick="sub(10)">Sub 10 year</button>
        <p>My age is : {{ Age }}</p>

        <div id="canvas" v-on:mousemove="updateXY">
            {{x}}, {{y}}
        </div>
        <input type="text" placeholder="Name" v-model="Name">
        <span>{{ Name }}</span>
        <input type="text" placeholder="Age" v-model="Age">
        <span>{{ Age }}</span> <br><br><br>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p>A-{{a}}</p>
        <p>B-{{b}}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

    </div>
    <script src="app.js"></script>
</body>
</html>