.box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 30px;
}
@media (max-width:1200px){
    .box{
        background-color:yellow;
    }
}
@media (max-width:900px){
    .box{
        background-color: brown;
    }
}
@media(max-width:600px){
    .box{
        background-color: aqua;
    }
}