.container{
    height: 928px;
    width: 1349px;
    display: flex;
    background-color: coral;  
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.item{
    background-color: crimson;
    height: 100px;
    width: 200px;
    margin: 70px;
    color: white;
    text-align: center;
    padding-top: 70px;
    border-radius:30px;
}