<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components in VueJs</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="vue-app">
        <h1>V-IF ELSE SHOW</h1>
        <button v-on:click="error=!error">Toggle Error</button>
        <button v-on:click="success=!success">Toggle Success</button>
        <p v-if="error">This is Lakshay's error</p>
        <p v-else-if="success">We are in! Whooooo</p>
       <p v-show="error">This is Lakshay's error</p>
        <p v-show="success">We are in! Whooooo</p>
        <h1>V-FOR</h1>
        <ul>
            <li v-for="character in characters">{{character}}</li>
        </ul>

        <ul>
            <li v-for="(ninja,index) in ninjas">{{ index }}. {{ ninja.name }}, {{ ninja.age }}</li>
        </ul>

        <template v-for="(ninja,index) in ninjas">
            <h3>{{ index }}.{{ ninja.name }}</h3>
            <p>{{ ninja.age }}</p>
        </template>
        <template v-for="ninja in ninjas">
            <div v-for="(val,key) in ninja">
                <p>{{ key }}-{{ val }}</p>
            </div>
        </template>
    </div>
    <script src="app.js"></script>
</body>
</html>