div{
    background-color:orange;
    border-radius: 10px;
    color: white;
    font-family: montserrat;
    font-weight: 800;
    height: 10%;
    width: 15%;
    text-align: center;
    padding: 5%;
    margin: 10%;
    box-shadow: grey 10px 10px 15px;
    transition: 0.8s;
}
div.btn:hover{
    transform: translate(-10px,-10px);
    box-shadow: grey 20px 20px 25px;
    transition: 0.5s;
}
div.btn:active{
    transform:translate(10px,10px);
    box-shadow: grey 10px 10px 10px;
    transition: 0.25s;
}
a{
    text-decoration: none;
}